body{
    background-color: rgb(250, 250, 159);
    margin-left: 0.5in;
}
img{
    width: 100%;
    height:100%;
}
h1{
    text-align: center;
    color: rgb(1, 255, 107);
}
h2:hover{
    background-color: antiquewhite;
    font-size: 30px;
    width:20%;
}